#vislink
{
  list-style-image: url("chrome://hidden-content/content/icon-16.png");
}

#vislink.active
{
  list-style-image: url("chrome://hidden-content/content/icon-active-16.png");
}

#vislink.error
{
  list-style-image: url("chrome://hidden-content/content/icon-error-16.png");
}

#vislink-search-next
{
  list-style-image: url("chrome://hidden-content/content/search-next-16.png");
}

#vislink-search-prev
{
  list-style-image: url("chrome://hidden-content/content/search-prev-16.png");
}

#vislink textbox
{
  list-style-image: none;
}

#vislink-sync.unknown
{
  list-style-image: url("chrome://hidden-content/content/icon-link-unknown.png");
}

#vislink-sync.no-sync
{
  list-style-image: url("chrome://hidden-content/content/icon-link-break.png");
}

#vislink-sync.sync
{
  list-style-image: url("chrome://hidden-content/content/icon-link.png");
}

#vislink-sync-src
{
  color: red;
  -moz-appearance: none;
}

toolbarbutton.preferences {
  list-style-image: url(chrome://browser/skin/Toolbar.png);
  -moz-image-region: rect(0px, 468px, 18px, 450px);
}

#vislink-panel .section-header {
  margin: 0 0 0.5em;
  max-width: 400px;
}

#vislink-panel .section {
  margin: 0 0 1.1em;
}

#vislink-panel description {
  color: #aaa;
}

.selection {
  float: left;
  max-width: 400px;
}

.selection li {
  float: left;
  min-width: 4em;
  border: 1px solid #aaa;
  padding: 0.2em;
  margin: 0.2em;
}

.selection li.concept {
  border-radius: 50%;
}

.selection li.relation {
  border-radius: 0.5em;
}

#document-concepts
{
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  padding: 5px;
  opacity: 0.8;
}

#document-concepts > *
{
  pointer-events: all;
}

#document-concepts a
{
  position: absolute;
  padding: 0 0.2em;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid red;
  background: #ffaaaa;
}

#document-concepts a:after
{
  display: block;
  visibility: hidden;
  position: absolute;
  left: calc(100% + 10px);
  top: -45%;
  opacity: 0;
  content: attr(title);
  height: auto;
  min-width: 120px;
  padding: 5px 8px;
  z-index: 999;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: rgba(0,0,0,0.85);
  border-radius: 5px;
}

#document-concepts a:before {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  left: 100%;
  bottom: 12%;
  opacity: 0;
  content: "";
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent rgba(0,0,0,0.85) transparent transparent;
}
#document-concepts a:hover:after{ visibility: visible; opacity: 1; }
#document-concepts a:hover:before{ visibility: visible; opacity: 1; }
