html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.mdl-navigation > label {
  margin: 0.5em;
}

#tool-area {
  float: left;
  height: 100%;
  margin-right: -100%;
  overflow-y: auto;
}

#tool-area > * {
  margin: 0.4em;
  margin-right: 1.2em;
}

#tool-area > * + * {
  margin-top: 0;
}

.card-concept-details .mdl-textfield {
  padding: 0.2em;
  width: auto;
}

.concept-references > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.concept-references li {
  vertical-align: middle;
  display: flex;
  min-height: 1.8em;
  padding: 0.3em 0;
  border-top: 1px solid #ccc;
}

.concept-references img {
  width: 16px;
  height: 16px;
  margin: auto 0.5em auto;
}

.concept-references a {
  flex: 1;
  line-height: 1.1;
  text-decoration: none;
  margin-right: 24px;
}

.concept-references button {
  visibility: hidden;
}

.concept-references li:hover button {
  visibility: visible;
}

.concept-raw-data {
  display: none;
  white-space: pre-wrap;
}

html.debug-mode .concept-raw-data {
  display: block;
}

#content-area {
  float: right;
  height: 100%;
  width: 100%;
}

#button-add-concept {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#tooltip-button-add-concept {
  position: fixed;
  left: auto !important;
  top: auto !important;
  right: 10px;
  bottom: 60px;
}

#graph-drawing-area {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: background-color 0.5s;
}

#overlay > * {
  margin: 100px auto;
}

#overlay .mdl-card__actions {
  text-align: right;
}

svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}

path.link {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
  cursor: default;
/*  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.8)); */
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

.node ellipse {
  cursor: pointer;
  fill: #eee;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.8));
}

.node.selected ellipse {
  fill: rgb(255, 82, 82);
  filter: drop-shadow(1px 2px 6px rgba(26, 8, 8, 0.9));
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

