html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.mdl-navigation > label {
  margin: 0.5em;
}

main.mdl-layout__content {
  display: flex;
}

#tool-area {
  order: 1;
  z-index: 2;
  height: 100%;
  overflow-y: auto;
  background-color: #eee;
  border-right: 1px solid #aaa;
  box-shadow: 0 0 4px #888;
  flex-direction: column;
  width: 350px;
}

#tool-area > .mdl-card {
  margin: 0.4em;
  margin-right: 1.2em;
}

#tool-area > * + * {
  margin-top: 0;
}

/** Context sensitive list of actions */
.action-list {
  margin: 0 0 0.5em;
  padding: 0;
  list-style: none;
  width: 100%;
  min-width: 300px;
}

.action-list > li {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  vertical-align: middle;
}

.action-list > li:hover {
  background-color: #f8f8f8;
}

.action-list span {
  margin: 0.5em 0.6em 0.5em 0;
}

.action-list span:last-child {
  margin-right: 1.2em;
}

.action-list span.material-icons {
  width: 16px;
  height: 16px;
  font-size: 16px;
  margin: auto 6px auto 5px;
}

span.action-title:first-child {
  margin-left: 26px; /* fill space of missing icon */
}

span.action-title {
  flex: 1;
}

span.action-shortcut {
  color: #999;
}

.card-concept-details {
  position: relative;
}

.card-concept-details .concept-image {
  max-width: calc(100% - 1em);
  max-height: 256px;
  margin: 0.5em;
}

.card-concept-details .mdl-textfield {
  padding: 0.2em;
  width: auto;
}

.card-relation-details .mdl-card__title-text {
  width: 100%;
  display: flex;
}

.card-relation-details .mdl-card__title-text > i {
  flex: 1;
  text-align: center;
  padding-top: 0.35em;
}

.relation-label {
  display: flex;
}

.relation-label input {
  flex: 1;
}

#concept-color {
  display: none;
}

.user-data {
  width: calc(100% - 0.6em);
}

.references > ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.references li {
  vertical-align: middle;
  display: flex;
  min-height: 1.8em;
  padding: 0.3em 0;
  border-top: 1px solid #ccc;
}

.references .ref-open {
  background-color: #fee;
}

.references .ref-img,
.references .mdl-badge:not([data-badge]) {
  width: 14px;
  height: 14px;
  margin: auto 0.9em auto 0.5em;
}

.references .ref-img img {
  margin-bottom: 13px;
}

.references .mdl-badge[data-badge]::after {
  width: 14px;
  height: 14px;
  font-size: 12px;
  font-weight: bold;
  top: -10px;
  right: -11px;
}

.references .ref-url {
  flex: 1;
  line-height: 1.1;
  text-decoration: none;
  margin: auto 24px auto 0;
}

.references button {
  visibility: hidden;
}

.references li:hover button {
  visibility: visible;
}

.raw-data {
  display: none;
  white-space: pre-wrap;
}

html.debug-mode .raw-data {
  display: block;
}

#content-area {
  order: 2;
  flex: 1;
  height: 100%;
}

#button-add-concept {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#tooltip-button-add-concept {
  position: fixed;
  left: auto !important;
  top: auto !important;
  right: 10px;
  bottom: 60px;
}

#graph-drawing-area {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#overlay {
  visibility: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: background-color 0.5s;
  text-align: center;
}

#overlay > * {
  margin: 100px auto;
}

#overlay .mdl-card__actions {
  text-align: right;
}

.notification-message {
  display: inline;
  font-size: 12px;
  padding: 6px 10px;
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#overlay > .notification-message {
  margin-top: 0;
}

/* SVG */
.drag-rect {
  fill: rgba(240, 120, 70, 0.35);
  stroke: #f07746;
}

.link > path:not(.click-proxy) {
  pointer-events: none;
}

.link > path.click-proxy {
  stroke: rgba(255,255,255,0.5);
  stroke-width: 16px;
  cursor: pointer;
}

.link > path.click-proxy:hover {
  filter: drop-shadow(1px 2px 3px rgba(100, 50, 50, 0.8));
}

.link > path {
  fill: none;
  stroke: #333;
  stroke-width: 2px;
}

.link.selected > path {
  stroke-dasharray: 10,2;
}

.link.hidden > path {
  stroke-width: 0;
}

.link > rect {
  fill: #fff;
}

.node ellipse {
  cursor: pointer;
  fill: #eee;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.8));
}

.node ellipse:hover {
  filter: drop-shadow(1px 2px 12px rgba(100, 50, 50, 0.8)) !important;
}

.node.selected ellipse {
  fill: rgb(255, 82, 82);
  filter: drop-shadow(1px 2px 12px rgba(255, 50, 50, 1));
  stroke-width: 2px;
  stroke: red;
}

circle.ref-highlight {
  stroke: none;
  fill: none;
}

.ref-open circle.ref-highlight {
  stroke: #ff5252;
  stroke-dasharray: 3, 3;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

